* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
    --primary-blue-950: hsl(213, 96%, 18%);
    --primary-purple-600: hsl(243, 100%, 62%);
    --primary-blue-300: hsl(228, 100%, 84%);
    --primary-blue-200: hsl(206, 94%, 87%);
    --primary-red-500: hsl(354, 84%, 57%);

    --neutral-grey-500: hsl(231, 11%, 63%);
    --neutral-purple-200: hsl(229, 24%, 87%);
    --neutral-blue-100: hsl(218, 100%, 97%);
    --neutral-blue-50: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 100%, 100%);

    --font-size-p: 16px;
    --font-main: 'Ubuntu', sans-serif;
    --font-weight-r: 400; 
    --font-weight-md: 500; 
    --font-weight-b: 700; 
}

body {
    background-color: var(--neutral-blue-100);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 60%;
    height: 75vh;
    background-color: var(--neutral-white);
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    display: flex;
    gap: 10%;
}


/* Sidebar Styling */

.sidebar {
    height: 100%;
    width: 25%;
    flex-shrink: 0;
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 1vw;
    gap: 1.4rem;
}

.sidebar-step {
    display: flex;
    gap: 1rem;
    color: var(--neutral-white);

}

.step-num {
    border-radius: 50%;
    border: 2px solid var(--neutral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: var(--font-weight-md);
    font-size: 18px;
}

.step-num.active {
    background-color: var(--primary-blue-200);
    color: var(--primary-blue-950);
}

.step-head {
    color: var(--neutral-grey-500);
    font-size: var(--font-size-p);
}

.step-name {
    color: var(--neutral-white);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-b);
}

.step-5 {
    display: none;
}

/* Section Styling */
form {
    width: 55%;
    margin-top: 7vh;
}

.section {
    display: none;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.section.active {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: var(--primary-blue-950);
    font-size: 2.2rem;
}

.description {
    color: var(--neutral-grey-500);
    font-size: var(--font-size-p);
}

.content {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: var(--primary-blue-950);
    font-weight: var(--font-weight-r);
    font-size: 16px;
    display: block;
    margin-bottom: 0.3rem;
}

.form-control input {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1.3px solid #ced4da;
    font-size: 16px;
    color: var(--neutral-grey-500);
    padding-left: 12px;
}

::placeholder {
    font-size: 16px;
    color: var(--neutral-grey-500);
    font-weight: var(--font-weight-r);
}

input:focus {
  outline: none;
  border-color: #4A90E2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.3);
  color: var(--neutral-grey-500);
}

.section-footer {
    display: flex;
    padding-bottom: 20px;
    margin-top: auto;
    justify-content: space-between;
}

#step-1 .section-footer {
    justify-content: end;
}

.next-button {
    background-color: var(--primary-blue-950);
    border: none;
    color: var(--neutral-white);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-r);
    cursor: pointer;
    transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.back-button {
    color: var(--neutral-grey-500);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-md);
    letter-spacing: .5px;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.back-button:hover,
.back-button:focus-visible {
    color: hsl(231, 11%, 50%); 
    outline: none;
}

.next-button:hover {
    filter: brightness(1.15);
}

.next-button:active {
    filter: brightness(0.95);
    transform: scale(0.98);
}

/* Styling step 2 */
.plan-options {
    display: flex;
    gap: 20px;
    width: 100%;
}

.plan-option {
    width: calc(100% / 3);
}

.plan-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.plan-option label {
    border: 1.5px solid var(--neutral-grey-500);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 15px;
    height: 21vh;
    cursor: pointer;
}

.plan-option label img {
    height: 40px;
    width: 40px;
}

.plan-title {
    color: var(--primary-blue-950);
}

.price {
    color: var(--neutral-grey-500);
}

input[type="radio"]:checked + label {
  border-color: hsl(243, 100%, 62%); /* Your blue color */
  background-color: hsl(217, 100%, 97%); /* Your light blue background */
}

.plan-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.two-months {
    font-size: 14px;
    color: var(--primary-blue-950);
    font-weight: var(--font-weight-md);
    display: none;
}

.two-months.active {
    display: block;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* 24px */
    background-color: hsl(231, 100%, 99%);
    padding: 0.875rem; /* 14px */
    border-radius: 8px;
}

.label-text {
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl(231, 11%, 63%);
    transition: color 0.3s ease-in-out;
}

.label-text.active {
    color: hsl(213, 96%, 18%);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    border-radius: 22px;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    transition: 0.4s;
}

input:checked + .slider::before {
    transform: translateX(18px);
}

/* Section 3 styling */

.add-on {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--neutral-purple-200);
    border-radius: 10px;
    padding: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.add-on:hover {
    border-color: var(--primary-purple-600);
}

.add-on input {
    display: none;
}

.custom-check {
    width: 20px;
    height: 20px;
    border: 1px solid var(--neutral-purple-200);
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.add-on:has(input:checked) {
  border: 1px solid var(--primary-purple-600);
}

input:checked + .custom-check {
    background-color: #6a5acd;
    border-color: #6a5acd;
}

input:checked + .custom-check::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: -2px;
  left: 3px;
}

.add-on-info {
    flex: 1;
}

.add-on-title {
    display: block;
    font-size: 1rem;
    color: var(--primary-blue-950);
}

.add-on-info p {
    margin-top: 1px;
    font-size: 0.9rem;
    color: var(--neutral-grey-500);
}

.price {
    color: #6a5acd;
    font-weight: var(--font-weight-md);
}

/* Step 4 */

.summary {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
}

.summary-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid #c5c5c5;
    padding-bottom: 1rem; 
}

.top-left h3,
.top-right {
    color: var(--primary-blue-950);
    font-weight: var(--font-weight-md);
}

.top-left {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.top-left a {
    color: var(--neutral-grey-500);
}

.top-right {
    font-size: 1.1rem;
}

.summary-bottom {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-bottom p {
    display: flex;
    justify-content: space-between;
    color: var(--neutral-grey-500);
    font-size: 0.9rem;
}

.bottom-price {
    color: var(--primary-blue-950);
    font-weight: var(--font-weight-md);
}

.show-total {
    padding: 0 25px;
}

#summary-price {
    color: var(--primary-purple-600);
    font-size: 1.3rem;
    font-weight: var(--font-weight-b);
}

.show-total p {
    display: flex;
    justify-content: space-between;
    color: var(--neutral-grey-500);
    font-size: var(--font-size-p);
}

.next-button.confirm {
    background-color: var(--primary-purple-600);
}

@media (max-width: 1230px) {
   .step-head, .step-name {
        font-size: clamp(11px, 1.1vw, 16px);
    }
}

@media (max-width: 1024px) {
    .step-texts {
        display: none;
    }

    .sidebar-step {
        justify-content: center;
    }

    .sidebar {
        padding: 30px 0;
    }

    .container {
        width: 70%;
    }
}