@import url('https://fonts.google.com/specimen/Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(assets/fonts/Ubuntu-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
    --primary-blue-950: hsl(213, 96%, 18%);
    --primary-purple-600: hsl(243, 100%, 62%);
    --primary-blue-300: hsl(228, 100%, 84%);
    --primary-blue-200: hsl(206, 94%, 87%);
    --primary-red-500: hsl(354, 84%, 57%);

    --neutral-grey-500: hsl(231, 11%, 63%);
    --neutral-purple-200: hsl(229, 24%, 87%);
    --neutral-blue-100: hsl(218, 100%, 97%);
    --neutral-blue-50: hsl(231, 100%, 99%);
    --neutral-white: hsl(0, 100%, 100%);

    --font-size-p: 16px;
    --font-main: 'Ubuntu', sans-serif;
    --font-weight-r: 400; 
    --font-weight-md: 500; 
    --font-weight-b: 700; 
}

body {
    background-color: var(--neutral-blue-100);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 65%;
    height: 70vh;
    background-color: var(--neutral-white);
    border-radius: 15px;
    padding: 12px;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 25%;
    flex-shrink: 0;
    background-image: url(assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 1vw;
    gap: 1.4rem;
}

.sidebar-step {
    display: flex;
    gap: 1rem;
    color: var(--neutral-white);

}

.step-num {
    border-radius: 50%;
    border: 2px solid var(--neutral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: var(--font-weight-md);
    font-size: 18px;
}

.step-num.active {
    background-color: var(--primary-blue-200);
    color: var(--primary-blue-950);
}

.step-head {
    color: var(--neutral-grey-500);
    font-size: var(--font-main);
}

.step-name {
    color: var(--neutral-white);
    font-size: var(--font-main);
    font-weight: var(--font-weight-b);
}

.step-5 {
    display: none;
}